/*LINEAR from - #08366B to - #041B36*/
/*LIGHT BLUE #69CDEA*/

body {
    background-image: linear-gradient(#08366B, #041B36);
}

.top {
    position: relative;
    width: 100%;
    background-image: url('./images/Top_Background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 119vh;
}

.max-width {
    display: block;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}
.about {
    position: relative;

    min-height: 130vh;
}

.dropdown {
    background-color: #69CDEA;
}

.sidebar {
    z-index: 100;
    background-color: #69CDEA;
    width: 80%;
    max-width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

#big-button {
    background-color: #69CDEA;
    display: block;
    border-radius: 40px;
    box-shadow: 1px 4px lightblue;
}

#big-button:hover {
    transition: 0.1s;
    transform: scale(1.03) !important;
}

.headline-text {
    font-size: 30px;
}

#big-logo {
    z-index: 1;
    padding-top: 100px;
    font-size: 50px;
}

.animation-text {
    animation: normal;
    animation-name: textOpacity;
    animation-duration: 1;
}
.large-glide {
    width: 90%;
}

.large-glide img {
    width: 300px;
}


.start_journey {
    min-height: 90vh;
    position: relative;
    width: 100%;
    background-image: url('./images/Vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-size: cover;
}
.journey {
    position: relative;
    width: 100%;
    background-image: url('./images/Vector2.svg');
    min-height: 108.5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.road {
    height: 180px;
    width: 230px;
    position: relative;
    background-image: url('./images/light.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 1280px) {
    .team {
        min-height: 100vh;
    }
    .road {
        height: 200px;
        width: 300px;
        position: relative;
        background-image: url('./images/light.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #big-logo {
        padding-top: 20px !important;
        font-size: 120px;
    }
    .bub {
        width: 10%;
        position: absolute;
        top: 180px;
    }
    .bub-left {
        left: 20px;
    }
    .bub-right {
        right: 20px;
    }
    .headline-text {
        font-size: 50px;
    }
    .roadmap {
    }
}

.bigger-img {
    transform: scale(1.2);
}

